<% if users.exists? %>
  <% users.each do |user| %>
    <table>

      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <%# ユーザーアイコン　%>
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_picture(80,80), class: "border border-2 mt-3" %>
          <% end %>
          
           <%# ユーザー名　%>
          <%= link_to user_path(user.id) do %>
            <h5 class="text-dark">
              <%= user.user_name %>
            </h5>
          <% end %>
        </tr>
      </tbody>

    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>