<%# フォロワー一覧 %>
<div class="container">
  <div class="row">
    <h4 class="font-weight-bold text-muted mt-4 ml-5">
      フォロワー
    </h4>
    <%#= user.followers.count %>
  </div>
</div>

<hr>

<%= render 'public/relationships/follow_list', users: @users %>

