<%# フォロー一覧 %>
<div class="container">
  <div class="row">
    <h5 class="font-weight-bold text-muted mt-3">
      フォロー
    </h5>

  </div>
</div>

<hr color="silver">

<%= render 'public/relationships/follow_list', users: @users %>
