@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ヘッダーロゴ
.logo {
  font-family: 'Oleo Script', cursive;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220,220,220)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-toggler{
  background-color: dimgray;
  border-color: silver;
}


// 新規登録ボタン
.new_button .btn{
  background-color: #68a4d9;
  border-color: #68a4d9;
}

// ログインボタン
.login_button .btn{
  background-color: #82cddd;
  border-color: #82cddd;
}

// ゲストログインボタン
.guest_button .btn{
  background-color: #9fc24d;
  border-color: #9fc24d;
}

// ゲストログイン説明
.guest_text {
   margin-left: 58%;
}


// アイコン
.profile_picture {
  width: 90px;
  height: 90px;
  margin-top: 10px;
}


// フォローアイコン
.follow_profile_picture {
  width: 90px;
  height: 90px;
}

// ユーザーアイコン（小）
.mini_user_icon {
  width : 80px;
  height : 80px;
}



// イラスト一覧
.illustrations {
  margin-left: 3%;
}

// イラストリンク
.illustration {
  width : 200px;
  height : 250px;
}

// イラスト表示
.show_illustration {
  width : 500px;
  height : auto;
}


// コメント
.comment {
  margin-left: 30%;
}

// いいね
.like {
  margin-left: 30%;
}

// 共有
.share {
  margin-left: 30%;
}

// コメント返信ボタン
.reply .btn{
  display: inline-block;
  text-align: center;
  width: 200px;
  padding: 5px 0px;
  border-radius:5px;
}


//フォロー、フォロワー一覧ユーザーアイコン
.follow_profile_picture {
  width : 80px;
  height : auto;
}


// ファイル選択ボタン
.image_input_btn {
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}

// ファイル選択ボタン
.image_form{
   display: none;
}

//ファイル名表示のinput枠
#filename{
  border: none;
}

// 通知
.notice {
  margin-left: 5%;
}

// 検索
.searche {
  margin-left: 5%;
}

// タイムライン
.timeline {
  margin-left: 5%;
}

// ページタイトル
.page_title {
  margin-left: 5%;
}


// 自己紹介文
.self_introduction{
    display: table;
    width: 100%;
}

// 自己紹介文内
.self_introduction_inner{
  display: table-cell;
  vertical-align: middle;
}


// ユーザー検索
.user_search {
  margin-left: 6%;
}

// ユーザー検索結果
.user_search_results {
  margin-left: 6%;
}

// イラスト検索
.illustration_search {
  margin-left: 6%;
}

// イラスト検索結果
.illustration_search_results {
  margin-left: 6%;
}

// イラスト検索結果イラスト
.illustration-list {
  margin-left: 5%;
}

// 退会しないボタン
.not_withdraw_button {
  margin-left: 10%;
  margin-right: 10%;
}

// 通知アイコン
.notice_icon {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 415px) {

  // ヘッダーロゴ
  .logo {
    font-size: 50px;
  }


  // 新規登録ボタン
  .new_button .btn {
    margin-bottom: 20px;
    margin-left: 40%;
  }

  // ログインボタン
  .login_button .btn {
    margin-bottom: 20px;
  }

  // ゲストログインボタン
  .guest_button .btn {
    margin-left: 30%;
  }

  // ゲストログイン説明
  .guest_text {
    margin-left: 26%;
  }


  // アイコン
  .profile_picture {
    width: 75px;
    height: 75px;
  }


  // ユーザー名
  .user_name {
    font-size: 22px;
  }

  // 自己紹介文
  .self_introduction {
    text-align: center;
    margin-bottom: 5%;
  }

  // ユーザー編集ボタン、イラスト投稿ボタン
  .user_button {
    margin-left: 13%;
  }


  // フォローボタン×2
  .follow_button_2 {
    margin-left: 30%;
  }

  // フォローボタン
  .follow_button {
    margin-left: 20%;
  }

  // フォロー解除ボタン
  .unfollow_button {
    margin-left: 20%;
  }

  // フォロー一覧リンク
  .followings {
    margin-left: 10%;
    margin-right: 9%;
  }

  // フォロワー一覧リンク
  .followers {
    margin-right: 9%;
  }

  // フォローアイコン
  .follow_profile_picture {
    width: 65px;
    height: 65px;
  }


  // 新着イラスト
  .new_illustrations {
    margin-left: 15%;
  }

  //イラスト一覧
  .illustrations {
    margin-left: 5%;
  }

  //イラストリンク
  .illustration {
    width : 150px;
    height : 200px;
  }

  //イラストタイトル
  .illustration_title {
    text-align: center;
  }

  //イラスト表示
  .show_illustration {
    width : 380px;
    height : auto;
    margin: 0 auto;
  }

  //イラスト説明
  .illustration_introduction {
    margin-left: 5%;
  }

  //イラスト編集ボタン
  .illustration_edit_button {
    margin: 0 auto;
  }

  // イラスト保存ボタン
  .illustration_save_button {
    margin-left: 8%;
  }

  // コメント
  .comment {
    margin-left: 2%;
  }

  // いいね
  .like {
    margin-left: 2%;
  }

  // 共有
  .share {
    margin-left: 10%;
  }


  // 通知
  .notice {
    margin-left: 40%;
  }

  // 検索
  .searche {
    margin-left: 40%;
  }

  // ユーザーアイコン（小）
  .mini_user_icon {
    width : 65px;
    height : 65px;
  }

  // ユーザー名（小）
  .mini_user_name {
    font-size: 1rem;
  }

  // ユーザー検索結果
  .user_search_results {
    margin-left: 20%;
  }

  // イラスト検索結果
  .illustration_search_results {
    margin-left: 20%;
  }

  // イラスト検索結果イラスト
  .illustration-list {
    margin-left: 1%;
  }


  // タイムライン
  .timeline {
    text-align: center;
  }

  //タイムラインイラスト
  .timeline_illustration {
    width: 60%;
    height: auto;
  }

  //タイムラインイラストタイトル
  .timeline_illustration_title {
    font-size: 1rem;
  }

  // ページタイトル
  .page_title {
    text-align: center;
  }


  // ページ
  .paginate {
    margin-left: 35%;
  }



  // 退会画面テキスト
   .withdrawl_text {
     font-size: 1rem;
  }

  // 退会ボタン
   .withdraw_button {
     width: 50%;
     margin-left: 25%;
   }

  // 退会しないボタン
  .not_withdraw_button {
    width: 50%;
    margin-left: 25%;
  }


  // 管理者側ユーザー編集ボタン
  .admin_edit_user_button {
    margin-left: 32%;
  }

  // ユーザーID
  .user_id {
    margin-left: 10%;
  }

  // 退会ステータスチェック
  .form-check {
    margin-left: 10%;
  }

}

@media screen and (max-width: 376px) {

    // イラスト表示
  .show_illustration {
    width : 350px;
    height : auto;
    margin: 0 auto;
  }


}