@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220,220,220)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-toggler{
  background-color: dimgray;
  border-color: silver;
}

.reply .btn{
  display: inline-block;
  text-align: center;
  width: 200px;
  padding: 5px 0px;
  border-radius:5px;
}

@media screen and (max-width: 375px) {
  .logo {
    font-size: 50px;
  }
}
