@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-family: 'Oleo Script', cursive;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220,220,220)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-toggler{
  background-color: dimgray;
  border-color: silver;
}


.new_button .btn{
  background-color: #68a4d9;
  border-color: #68a4d9;
}

.login_button .btn{
  background-color: #82cddd;
  border-color: #82cddd;
}

.guest_button .btn{
  background-color: #9fc24d;
  border-color: #9fc24d;
}

.illustrations {
  margin-left: 3%;
}

.comment {
  margin-left: 30%;
}

.like {
  margin-left: 30%;
}

.share {
  margin-left: 30%;
}



.reply .btn{
  display: inline-block;
  text-align: center;
  width: 200px;
  padding: 5px 0px;
  border-radius:5px;
}


.image_input_btn {
  display: block;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.image_form{
   display: none;
}

.notice {
  margin-left: 5%;
}

.searche {
  margin-left: 5%;
}

.user_search {
  margin-left: 6%;
}

.user_search_results {
  margin-left: 6%;
}


.illustration_search {
  margin-left: 6%;
}

.illustration_search_results {
  margin-left: 6%;
}


@media screen and (max-width: 415px) {
  .logo {
    font-size: 50px;
  }



  .new_button .btn {
    margin-bottom: 20px;
    margin-left: 40%;
  }

  .login_button .btn {
    margin-bottom: 20px;
  }

  .guest_button .btn {
    margin-left: 30%;
  }

  .guest_explanation {
    margin-left: 26%;
  }



  .user_name {
    margin-top: 5%;
    margin-left: 28%;
  }

  .self_introduction {
    margin-left: 10%;
  }

  .user_button {
    margin-left: 13%;
  }

  .followings {
    margin-left: 10%;
    margin-right: 9%;
  }

  .followers {
    margin-right: 9%;
  }

  .illustrations {
    margin-left: 5%;
  }


  .show_illustration {
    width: 20%;
    height: 20%;
  }

  .title {
    margin-left: 10%;
  }

  .illustration_button {
    margin-left: 25%;
  }


  .comment_user {
    margin-left: 3%;
  }

  .comment {
    margin-left: 2%;
  }

  .like {
    margin-left: 2%;
  }

  .share {
    margin-left: 10%;
  }

  .illustration_edit_button {
    margin-left: 10%;
  }

  .notice {
    margin-left: 40%;
  }


  .searche {
    margin-left: 40%;
  }

  .user_search_results {
    margin-left: 20%;
  }

  .illustration_search_results {
    margin-left: 20%;
  }

  .searche_follow_button {
    margin-left: 30%;
  }



  .timeline_art {
    width: 20%;
    height: 20%;
  }
}
