<%# いいね一覧 %>
<div class="container">
  <div class="row">
    <h4 class="page_title font-weight-bold text-muted col-11 mt-4 mb-">
      いいね
    </h4>
  </div>
</div>

<hr>

  <div class="container">
    <%# イラスト一覧 %>
    <div class="illustrations">
      <% @like_illustrations.each do |post|%>
        <%= link_to admin_illustration_path(post.id) do %>
          <%= image_tag post.image, class:"illustration ml-2 mt-3" %>
        <% end %>
      <% end %>
    </div>
  </div>


<div class="container">
  <div class="col-12 offset-md-5 mb-3 mt-3">
    <%= paginate @like_illustrations %>
  </div>
</div>