<%# いいね一覧 %>
<div class="container">
  <div class="row">
    <h4 class="page_title font-weight-bold text-muted col-11 mt-4 mb-">
      いいね
    </h4>
  </div>
</div>

<hr>

<% if @like_illustrations.exists? %>

  <div class="container">
    <%# イラスト一覧 %>
    <div class="illustrations">
      <% @like_illustrations.each do |post|%>
        <%= link_to illustration_path(post.id) do %>
          <%= image_tag post.image, class:"illustration ml-2 mt-3" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% else %><%# いいねがない場合 %>
  <div class="container">
    <h5 class="font-weight-bold text-muted text-center mt-5 ml-2">
      いいねはありません
    </h5>
  </div>
<% end %>

<div class="container">
  <div class="col-12 offset-md-5 mb-3 mt-3">
    <%= paginate @like_illustrations %>
  </div>
</div>